
#calendario {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#calendario tr, #calendario tbody {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
}

caption {
    text-align: center;
    grid-column: 1 / -1;
    font-size: 130%;
    font-weight: bold;
    padding: 10px 0;
}

#calendario td.activo:hover {
    background-color: rgba(15, 167, 238, 0.5);
    color: #ffffff;
    border: 2px solid #0fa7ee;
}

#calendario td.other-month:hover {
    background-color: rgba(15, 167, 238, 0.5);
    color: #ffffff;
    border: 2px solid #0fa7ee;
}

#calendario .selCalendarioFecha {
    background-color: rgba(0, 108, 154, 0.7);
    color: #ffffff;
    border: 2px solid #006C9AB2;
}

#calendario .selCalendarioFechaRango {
    background-color: rgba(0, 108, 154, 0.4);
    color: #ffffff;
    border: 2px solid #006C9AB2;
}

#calendario td {
    width: 100%;
    min-width: 30px;
    min-height: 50px;
    background: #ffffff;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    border-right: 1px solid #e6e9ea;
    border-bottom: 1px solid #e6e9ea;
    padding: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    color: rgba(0, 0, 0, 0.9);
    font-size: 10px;
}

#calendario th {
    width: calc(100% / 7);
    min-width: 30px;
    background: #448cd6;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    border: none !important;
    padding: 10px 6px;
    color: #fff;
    font-size: 13px;
}

#calendario .weekdays {
    background: #448cd6;
}

#calendario .days li:hover {
    background: #d3d3d3;
}

#calendario .evento {
    border-top: 2px solid #448cd6;
    border-bottom: 2px solid #448cd6;
    border-right: 1px solid #f7c30d;
    background-color: #f7c30d;
}

#calendario .evento-doble {
    border-top: 2px solid #066213;
    border-bottom: 2px solid #066213;
    border-left: 2px solid #066213;
    border-right: 1px solid rgba(6, 98, 19, 0.5);
    background-color: rgba(6, 98, 19, 0.5);
}

#calendario .evento-fin {
    border-right: 2px solid #448cd6;
}

#calendario .evento-inicio {
    border-left: 2px solid #448cd6;
}

#calendario .event-desc {
    color: #666;
    margin: 3px 0 7px 0;
    text-decoration: none;
}

#calendario .other-month {
    background: #f5f5f5;
    color: #666;
}

#calendario .inactivo {
    background-color: #d2d2d2;
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
}

#calendario .activo {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
}